%h1 Your Bookmarks

%table
  - @bookmarks_title.each do |bookmark|
    %tr
      %td= link_to bookmark[1], bookmark[0]
      %td= link_to 'remove?', bookmark[0], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bookmark', new_bookmark_path
