// --- utilities ---
// font-family: 'The Girl Next Door', cursive;
// font-family: 'Offside', cursive;
// font-family: 'Atomic Age', cursive;
// font-family: 'Hind', sans-serif;
// font-family: 'Over the Rainbow', cursive;


// ---- global shiz ----
*{
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}

// body{
//   background-color:black;
// }

// feed me logo
h1{
  font-family: 'Atomic Age', cursive;
  .me{
    font-family: 'The Girl Next Door';
    letter-spacing: -4px;
    display:inline-block;
    padding:0;
  }
}

h2{
  font-family: 'Over the Rainbow', cursive;
}

a, .a{
  font-family: 'Atomic Age', cursive;
  margin-right: 1%;
  display:inline-block;
  &:hover{
    text-decoration: none;
    color:rgba(164, 33, 26, 1.0);
    background-color:white;
  }
}


.effect4
{
  
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

// --- general and main page header settings ----
.header{
  border-bottom: dotted 2px rgba(164, 33, 26, 1.0);
  font-family: 'Atomic Age', cursive;
  p{
    display:inline-block;
    margin-bottom:-10px;
    margin-left: 1%;
    height:20px;
    line-height: 20px;
    font-size:1.2em;
  }
  h1{
    text-align: center;
    font-size: 7em;
    font-family: 'Atomic Age', cursive;
    letter-spacing: 5px;
    margin-right:auto;
    margin-left:auto;
    .me{
      font-family: 'The Girl Next Door';
      letter-spacing: -5px;
      margin-left: -35px;
      display:inline-block;
      padding:0;
    }
  }
}

#notice, #flash_alert, #flash_notice{
  font-family: 'Offside', cursive;
  margin-left:5%;
}

// ----page specific ----

// ---- articles page ----
.article{
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: solid 1px rgba(164, 33, 26, 1.0);
  margin-top:0;
    i{
      color: rgba(164, 33, 26, 1.0);
    }
    i:hover{
      color: rgba(60, 92, 137, 1.0);
    }
    .not-checked{
      color:transparent;
    }
    .bookmarked i,{
      color: rgba(60, 92, 137, 1.0);
    }
}

// ---- categories show page ----




// ---- log in / sign up page ----

input{
  border-radius: 10px;
  text-align:center;
  border: dashed 2px rgba(164, 33, 26, 1.0);
  background-color: white;
  padding: 1%;
  font-family: 'Offside', cursive;
  margin:1%;
}

#links{
  // background-color:red;
  font-family: 'Offside', cursive;
  a{
    font-family: 'Offside', cursive;
  }
  #social_media{
    display:inline-block;
    margin-top:2%;
      img{
      height:50px;
      width:50px;
      margin-right: 3%;
      display: inline-block;
      -webkit-filter: invert(0);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      }&:hover{
      -webkit-filter: invert(1);
      }
      a:hover{
      background-color:transparent;
    }
  }
}

.new_user{
  em, h2{
    margin-left: 1%;
  }
}
// ----categories index page ----

.container{
  margin-bottom:10px;
}

// ----categories show page ----
.category_header{
  height:250px;
  overflow: hidden;
  .cat_head{
    width:100%;
    height: 300px;
    -webkit-filter:grayscale(50%);
    overflow: hidden;
  }
  h1{
    float:right;
    position:relative;
    top:-250px;
    margin-right:10%;
    margin-top: 0;
    margin-bottom: 0;
    line-height:250px;
    vertical-align: center;
    color:rgba(26, 45, 68, 1.0);
  }
}

#category_container{
  .feeds_container{
    width: 100%;
    text-align:center;
    font-family: 'Offside', cursive;
    .subscribed i,{
      color: rgba(60, 92, 137, 1.0);
    }
    .not-checked{
      color:transparent;
    }
    h1{
      display: inline-block;
      width: 50%;
      text-align:left;
    }
  }
}

// ----navigation bar----

.user-nav{
  width:100%;
  padding:1%;
  display:inline-block;
  text-align:center;
  .a{
    margin-left:1%;
    margin-right:1%;
    cursor: pointer;
  }
  h3{
    display: inline-block;
    margin-left:1%;
    margin-right:1%;
  }
  h2{
    display: inline-block;
  }
  a{
    margin-left:1%;
    margin-right:1%;
  }
  a:visited{
    color: black;
  }
  a:visited:hover{
    color: rgba(164, 33, 26, 1.0)
  }
  .subs{
    display:none;
  }
  .bkmks{
    display:none;
  }
  #menu_items{
    display:none;
    width:100%;
    padding-top:1%;
    padding-bottom:1%;
  }
}

#show_hide{
  margin:0;
  bottom:3px;
  position:relative;
  padding:0;
}



