// --- utilities ---
// font-family: 'The Girl Next Door', cursive;
// font-family: 'Offside', cursive;
// font-family: 'Atomic Age', cursive;
// font-family: 'Hind', sans-serif;
// font-family: 'Over the Rainbow', cursive;


// ---- global shiz ----
*{
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}

// feed me logo
h1{
  font-family: 'Atomic Age', cursive;
  .me{
    font-family: 'The Girl Next Door';
    letter-spacing: -4px;
    display:inline-block;
    padding:0;
  }
}

h2{
  font-family: 'Over the Rainbow', cursive;
}

a, .a{
  font-family: 'Atomic Age', cursive;
  margin-right: 1%;
  display:inline-block;
  &:hover{
    text-decoration: none;
    color:rgba(164, 33, 26, 1.0);
    background-color:white;
  }
}

// --- general and main page header settings ----
.header{
  border-bottom: dotted 2px rgba(164, 33, 26, 1.0);
  font-family: 'Atomic Age', cursive;
  p{
    display:inline-block;
    margin-bottom:-10px;
    margin-left: 1%;
    height:20px;
    line-height: 20px;
    font-size:1.2em;
  }
  h1{
    text-align: center;
    font-size: 7em;
    font-family: 'Atomic Age', cursive;
    letter-spacing: 5px;
    margin-right:100px;
    margin-left:-15px;
    .me{
      font-family: 'The Girl Next Door';
      letter-spacing: -5px;
      margin-left: -35px;
      display:inline-block;
      padding:0;
    }
  }
}

// ----page specific ----

// ---- articles page ----
.article{
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: solid 1px rgba(164, 33, 26, 1.0);
  margin-top:0;
    i{
      color: rgba(164, 33, 26, 1.0);
    }
    i:hover{
      color: rgba(60, 92, 137, 1.0);
    }
    .not-checked{
      color:transparent;
    }
    .bookmarked i{
      color: rgba(60, 92, 137, 1.0);
    }
}

// ---- log in / sign up page ----

input{
  border-radius: 10px;
  text-align:center;
  border: dashed 2px rgba(164, 33, 26, 1.0);
  background-color: white;
  padding: 1%;
  font-family: 'Offside', cursive;
}

#links{
  // background-color:red;
  font-family: 'Offside', cursive;
  a{
    font-family: 'Offside', cursive;
  }
  #social_media{
    display:inline-block;
    margin-top:2%;
      img{
      height:50px;
      width:50px;
      margin-right: 3%;
      display: inline-block;
      -webkit-filter: invert(0);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      }&:hover{
      -webkit-filter: invert(1);
      }
      a:hover{
      background-color:transparent;
    }
  }
}

// ----categories index page ----

.container{
  margin-bottom:10px;
}

// ----categories show page ----
.category_header{
  height:250px;
  overflow: hidden;
  .cat_head{
    width:100%;
    height: 300px;
    -webkit-filter:grayscale(50%);
    overflow: hidden;
  }
  h1{
    float:right;
    position:relative;
    top:-250px;
    margin-right:10%;
    margin-top: 0;
    margin-bottom: 0;
    line-height:250px;
    vertical-align: center;
  }
}

#category_container{
  .feeds_container{
    width: 100%;
    border: solid 1px black;
    height: 100px;
    font-family: 'Offside', cursive;
  }
}

// ----navigation bar----

.user-nav{
  width:100%;
  padding:1%;
  display:inline-block;
  text-align:center;
  .a{
    margin-left:1%;
    margin-right:1%;
  }
  a{
    margin-left:1%;
    margin-right:1%;
  }
  .subs{
    display:none;
  }
  .bkmks{
    display:none;
  }
  #menu_items{
    display:none;
    width:100%;
    padding-top:1%;
    padding-bottom:1%;
  }
}

#show_hide{
  margin:0;
  bottom:3px;
  position:relative;
  padding:0;
}



